<p><h3>Token de verificação de assinatura</h3></p>

<p>Utilize o token abaixo para confirmar sua assinatura.</p>

<p><h1><b>{{token}}</b></h1></p>

<p><h6>Não compartilhe este e-mail.</br>Para sua segurança não encaminhe este e-mail para ninguém.</h6></p>

<p><b>ABPAC-BETIM</b></p>
<p><i>Contato: (31)3592-0052</p>

