Olá Associado,

<p>Segue link para assinar eletronicamente o requerimento de adesão.</p>
<a href="{{ link }}">Clique aqui para assinar</a>

<p>Ficamos à disposição em caso de dúvidas.</p>

<p>Atenciosamente,</p></br>


<p><b>ABPAC-BETIM</b></p>
<p><i>Contato: (31)3592-0052</p>
<p>financeiro@abpac.com.br</i></p></br>

