Olá Associado,

<p>Clique no link abaixo ou copie e cole o link no seu navegador de internet para assinar eletronicamente o requerimento de adesão.</p>
<a href="{{ link }}">{{ link }}</a>

<p>Ficamos à disposição em caso de dúvidas.</p>

<p>Atenciosamente,</p></br>


<p><b>ABPAC-BETIM</b></p>
<p><i>Contato: (31)3592-0052</p>
<p>financeiro@abpac.com.br</i></p></br>
